/*navbar start*/
#header{
    color: white;
    background: #e74c3c;
    
}
#logo{
    font-size: 2rem;
    margin-top: 5px;

}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;

}
#menu li a{
    font-weight: bold;
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    transition-duration: 1.5s;
}
#menu li a:hover{
    background:#c0392b ;
    transition-duration: 1.5s;
}
/*navbar end*/

/*Banner start*/
#banner{
    background: url('../image/banner.jpg') no-repeat 0 35%;
    background-size: cover;
}
.banner-title{
    padding-top: 8rem;
}
.banner-title h1{
    background: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.banner-title p.lead{
    color: white;
    background: rgba(231, 76, 60,0.7);
    padding: 10px;
}
/*Banner end*/


/* service box*/
.service-box{
    text-align: center;
}
.service-box i.fa{
    color: #e74c3c;
    font-size: 70px;
    margin-bottom: 20px;
}
.section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section h2.section-head{
    text-align: center;
    margin-bottom: 40px;
}
.section h2.section-head::after{
    background: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 10px auto;
}

/*testimonial*/
.testimonial img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}
#testimonials{
    
    background: url('../image/testimonials.jpg') no-repeat 0 0;
    background-size: cover;
    padding: 50px 0;
   
    color: white;
}
/*
#testimonials::before{
    background: rgba(52, 73, 94,0.7);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

}*/
/*news*/
.news-post img{
    height: 100%;   
     width: 100%;
    margin-bottom: 10px;
}

.news-post  a{
    color: #e74c3c;
    text-decoration: none;
}
.news-post h3{
    font-size: 1.35rem;
}
.post-date{
    font-size: 13px;
    margin-bottom: 2px;
}
/*
.post-date::before{
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}*/
#footer-sidebar{
    color: white;
    background-color: rgba(52, 73, 94,0.9);
    padding: 20px 0;
}
.footer-widget h4::after{
    content: "";
    background-color: white;
    display: block;
    width: 50px;
    height: 3px;
    margin: 5px 0;
}
.menuu li a{
    text-decoration: none;
    color: white;
}

/*footer*/
#footer{
    color: white;
    background-color: rgba(44, 62, 80,1.0);
    padding: 10px 0;
}
#social-icon{
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
}

#social-icon li{
    display: inline-block;
    padding-left: 5px ;
}
#social-icon li a{
    color: white;
    font-size: 23px;
}